<div class="query">
    <form action="/query/index" method="post">
        url: 
        <input name="url" type="text" size="60" />
        <input type="submit" />
    </form>
</div>

<div class="content">
    <table>
        <tr>
            <td>
                <b><%= @req_originalUrl %></b>
            </td>
        </tr>
        <% @log_data_array.each do |log_data| %>
            <tr>
                <td><%= log_data.server_name + " " + log_data.log_time.to_s %></td>
                <td><b><%= link_to 'show', 
                                   {:controller => "query", 
                                    :action => "show", 
                                    :id => log_data.id} %></b></td>
            </tr>
        <% end %>
    </table>
</div>
