#header{
    border-bottom: 1px solid #ececec;
    margin-left: 20%;
    margin-right: 20%;
    height: 64px;
    width: 960px;
    text-align: left;
    position: relative;
}

#logo{
    border-right: 1px solid #ccc;
    margin-top: 10px;
    float: left;
    padding-right: 12px;
}

#name{
    margin-top: 30px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
}

.query{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

#notice{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
