<!DOCTYPE html>
<html>
<head>
  <title>LogAnalysis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="header">
        <div id="logo">
            <img src="/assets/logo.gif" alt="阿里云计算">
        </div>
        <div id="name">
            推荐系统Online日志统计分析系统
        </div>
    </div>

<%= yield %>

</body>
</html>
